* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

.openImage {
  cursor: pointer;
}
.modal {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

#close {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;

}

.modal-content {
  margin: 50px auto;
  width: 80%;
  border: 5px solid #ffffff;
  height: 500px;
  position: relative;
}
.modal-content img {
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;
  top: 40%;
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}
#prev {
  left: 10px;
}
#next {
  right: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}